@using KindergartentManagerment.Resources
@{
    ViewBag.Title = AssCommonResource.ForgotPasswordConfirmation;
}
<section class="content">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            @AssCommonResource.Requestcheckemail
        </p>
    </div>
</section>

